.login_box_area{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    h1{
        color: black;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
    }
    .img-fluid{
        width: 100%;
        height: auto;
        display: block;
        -webkit-filter: brightness(20%);
        filter:brightness(50%);
    }
   
    form {
        display: grid;
        margin: auto 50px auto 50px;
        max-width: 900px;
        padding: 1em;
      }
      form input {
        border: none;
         width: 80%;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
        outline: none;
        box-shadow: none;
      }
      form p {
          text-align: center;
      }
      form button {
        background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
        padding: 1em;
        width: 85%;
        border: 0;
        color: white;
        border-radius: 5px;
      }
      form button:hover {
        background: linear-gradient(90deg,#ff6c00 0%, #ffba00 100% );
      }
      label {
        // padding: 0.5em 0.5em 0.5em 0;
      }
      
      input {
        padding: 0.7em;
        margin-bottom: 0.5rem;
      }
      input:focus {
        outline: none;
      }
   
    // button {
    //     // width: 100%;
    //     text-transform: uppercase;
    //     border: none;
    //     padding: 12px 12px;
    //     font-weight: 500;
    //     color: #fff;
    //     cursor: pointer;
    //     border-radius: 3px;
    //     background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    //     &:hover{
    //         background: linear-gradient(90deg,#ff6c00 0%, #ffba00 100% );
    //     }
    // }
    @media(max-width: 1068px) {
        grid-template-columns:  1fr;
    }
   
}