.product-deals-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
  div, p, img{
      text-align: center;
      margin: 0 auto;
    //    border: 1px solid crimson;
  }
  img{
    // display: block;
    // margin-top: 10px;
    display: inline-block;
     margin: 0 auto;
    
  }
    .product-nested{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-nested-row-span {
        display: grid;
        grid-row :  span 2 1fr;
    }
    @media(max-width: 1068px) {
        grid-template-columns: repeat(2, 1fr);
        .product-nested-row-span{
            display: none;
            grid-row: auto;
        }
    }
    @media(max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
