/* Feature Product Area css
============================================================================================ */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.product-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;;
    grid-gap: 10px;
    text-align: center;
    h3{
        color: $text-color;
    }
    h4{
        color: $text-color;
    }
    @media(max-width: 1068px) {
         grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 500px) {
            grid-template-columns: 1fr;
    }
}

.product-cards img {
    max-width: 100%;
    height: auto;
        &:hover{
            opacity: 0.7;
        }
  }

  .features-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
    h4{
        font-weight: bold;
        color: black;
    }
    div:nth-child(4) {
        border-right: none;
    }
    @media(max-width: 1068px) {
        grid-template-columns: repeat(2, 1fr);
        div {
            border-right: none !important;
        }
    }
    @media(max-width: 500px) {
            grid-template-columns: 1fr;
            div{
                border-right: none !important;
            }
            
    }
    div {
        border-right: 1px solid #eeeeee;
    }
  }
  .brand-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    img{
        opacity: 0.2;
       
        &:hover {
            opacity: 0.9;
        }
    }
   
    @media(max-width: 1068px) {
        grid-template-columns: repeat(2, 1fr);
        #item5{
            grid-column: 1 / 3;
        }
        
    }
    @media(max-width: 500px) {
            grid-template-columns: repeat(2, 1fr);
    }
  }
.item1 {
    display: grid;
    text-align: center;
    grid-column: 1 / span 4;
    h1{
        color: black;
        font-size: 36px;
    }
}
  .single-related-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    .nested-inner {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        p:nth-child(4) {
            text-decoration: line-through;
        }
    }
    @media(max-width: 1068px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 768px) {
        grid-template-columns: 1fr;
}
  }